{% extends 'base.html' %}
{% block title %}
    User List
{% endblock%}
{% block content %}
<div class="col-md-auto" style="margin:5% 12%">
  <!--
    0/5 Completed.
    <div class="progress" style="margin-bottom:20px">
      <div class="progress-bar bg-success" role="progressbar" aria-valuenow="70"
      aria-valuemin="0" aria-valuemax="100" style="width:100%">
        <span class="sr-only">70% Complete</span>

      </div>
    </div>-->
    <a class="btn btn-success pull-left" style="margin-bottom:50px" href="{% url 'user:usercreate'%}">CREATE</a>
    
    {% if object_list %}
        <table class="table" >
          <thead>
            <tr>
              <th scope="col"><h3>ID</h3></th>
              <th scope="col"><h3>Name</h3></th>
              <th scope="col"><h3>Surname</h3></th>
              <th scope="col"><h3>username</h3></th>
              <th scope="col"><h3>email</h3></th>
              <th scope="col"><h3>Update</h3></th>
              <th scope="col"><h3>Delete</h3></th>
            </tr>
          </thead>
          <tbody>
          {% for user in object_list %}
          {% if user.id is not request.user.id %}
          <tr>
            <th scope="row">{{user.id}}</th>
            <th scope="row">{{user.first_name}}</th>
            <th scope="row">{{user.last_name}}</th>
            <th scope="row">{{user.username}}</th>
              <th scope="row">{{user.email}}</th>
            <form method="POST">
              <td><a class="btn btn-success" href="{% url 'user:update' user.pk %}">Güncelle</a></td>
              <td><a  class="btn btn-danger" href="{% url 'user:delete' user.pk %}">Sil</a></td>

            </form>
            
          </tr>
          {% endif %}
            {% endfor %}

          </tbody>
        </table>

    {% else %}
        <div class="alert alert-danger">
            No tags.
        </div>
    {% endif %}
    <form method="post">
    </form>
</div>
{% endblock content %}
